.app {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  background-color: red;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  width: 100%;
  max-width: 1200px; 
  width: 700px;
  min-width: 400px;
  overflow: auto;
  padding: 2rem;
}
.heading{
  font-size: 3rem;
}
@media (max-width:705px) {
  .app{
    width: auto;
  }
}

