.app {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 100%; 
  width: 600px;
}
.heading{
  font-size: 3rem;
}
@media (max-width:705px) {
  .app{
    width: auto;
    min-height: 300px;
    margin-top: 6rem;
  }
  h1{
    text-align: center;
  }
}

